div.nav-header__block
    nav.nav-header
        ul
            li
                a(href='') Каталог
            li
                a(href='') Обо мне
            li
                a(href='') Контакты

    div(class='burger' data-burger='nav-header')
        span
