.radio
	input(class=`radio__input` id = 'radio-one' type=`radio` name="male" )
	label(class=`radio__label` for = 'radio-one') Муж

.radio
	input(class=`radio__input` id = 'radio-two' type=`radio` name="male" )
	label(class=`radio__label` for = 'radio-two') Жен

