//- screen-name
- var class_name = 'screen-name'

section(class=`${class_name}`)

    div(class=`${class_name}__container`)

        div(class=`${class_name}-inner`)
            div(class=`${class_name}-inner__title`) Заголовок
