//- преимущества
- var class_name = 'main-advantages'
section(class=`${class_name}`)
    div(class=`${class_name}__row`)

        div(class=`${class_name}__row-left`) 1

        div(class=`${class_name}__row-right`) 2
