footer.footer
    .footer__container

        //- верхний блок
        .footer__top
            .footer__top-logo
                img(class=`footer__logo-img` src=`assets/img/logo-footer.jpg` alt=`#`)
            .footer__top-info
                .footer__top-sait alfa52.ru/
                .footer__top-all Все права защищены


        //- столбцы
        .footer__inner

            .footer__info
                a(class=`footer__phone-btn` href="tel:+78007009690") 8-800-700-96-90
                p Производство и монтаж<br> светопрозрачных конструкций
                p Нижний Новгород
                p ул. Чаадаева, д 20C<br> Время работы: <br> пн.-пт. с 8-00 до 17.00
                p email: <a href="mail:info@profplast-russia.ru">info@profplast-russia.ru</a><br> Телефон: <a href="mail:info@profplast-russia.ru">info@profplast-russia.ru</a>



            nav.footer-nav
                div(class='footer-nav__title') каталог
                a(class=`footer-nav__link` href="/") Окна
                a(class=`footer-nav__link` href="/") Двери
                a(class=`footer-nav__link` href="/") Веранды, террасы, беседки
                a(class=`footer-nav__link` href="/") Балконы, лоджии

            nav.footer-nav
                div(class='footer-nav__title') Большие окна
                a(class=`footer-nav__link active` href="/") Гильотинное остекление
                a(class=`footer-nav__link` href="/") Безрамное остекление


            nav.footer-nav
                div(class='footer-nav__title') каталог
                a(class=`footer-nav__link` href="/") Стеклянные козырьки
                a(class=`footer-nav__link` href="/") Ограждения из стекла
                a(class=`footer-nav__link` href="/") Статьи
                a(class=`footer-nav__link` href="/") Контакты

        //- нижний блок
        .footer__bottom
            .footer__bottom-descr Размещенная на сайте информация о ценах носит справочный характери и не является публичной офертой. Уточняйте<br> актуальную цену у менеджеров


div(class=`foooter-rights`) © 2022 Alfa      <span>All rights reserved</span>    Светопрозрачные конструкции

