- var class_name = 'hints'

p <span class="hints" data-hint="Атрофия альвеолярного отростка – патология, при которой происходит нарушение прикуса. Причиной обычно выступает частичная адентия, деформация лунки, которая постепенно сужается.">убыль </span>альвеолярного отростка, при которой происходит уменьшение длины и ширины кости. Проблема возникает при возрастных изменениях организма, травмах челюсти, воспалительных, генетических и других <span class="hints" data-hint="Атрофия альвеолярного отростка – патология, при которой происходит нарушение прикуса.">убыль </span> 111111111.


//span(class=`${class_name} top` data-hint = 'Подсказка с верху') Подсказка сверху
//span(class=`${class_name} right` data-hint = 'Подсказка с права') Подсказка справа
//span(class=`${class_name} left` data-hint = 'Подсказка с лева') Подсказка с лева
//span(class=`${class_name} bottom` data-hint = 'Подсказка с низу') Подсказка с низу


