div(class = 'time-count' data-date = 'Jan 1 2023 00:00:00')
    .time-count__content

        div(class = 'time-count__item time-count__days')
            .time-count__val 00
            span.time-count__text дней

        .time-count__separator :
        .time-count__item.time-count__hours
            .time-count__val 00
            span.time-count__text часов

        .time-count__separator :
        .time-count__item.time-count__minutes
            .time-count__val 00
            span.time-count__text минут


        .time-count__separator :
        .time-count__item.time-count__seconds
            .time-count__val 00
            span.time-count__text секунд
