<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no">
    <meta name="description" content="Описание сайта">
    <meta name="keywords" content="">
    <title>Название сайта</title>
    <link rel="stylesheet" href="assets/css/style.min.css?v=0.0.0.0&_v=20220609224042">
  </head>
  <body>
    <div class="advantages-list-slider swiper-container">
      <div class="advantages-list-slider__wrapper swiper-wrapper">
                <div class="advantages-list-slider-slide swiper-slide">
                  <div class="advantages-list-slider-slide__title">1 слайд</div>
                </div>
                <div class="advantages-list-slider-slide swiper-slide">
                  <div class="advantages-list-slider-slide__title">2 слайд</div>
                </div>
                <div class="advantages-list-slider-slide swiper-slide">
                  <div class="advantages-list-slider-slide__title">3 слайд</div>
                </div>
      </div>
      <div class="advantages-list-slider-pagination swiper-pagination"></div>
      <div class="advantages-list-slider-button-prev swiper-button-prev"></div>
      <div class="advantages-list-slider-button-next swiper-button-next"></div>
    </div>
    <script src="assets/js/script.min.js?v=0.0.0.0&_v=20220609224042"></script>
  </body>
</html>