@use "sass:math";

// Переменые ===============================================================================================================================================================================================================================================================================================
@import "variables";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "mixins";

// сброс стилей по умолчанию
// @import "reset";
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

// fonts
@import "fonts";



// Ограничивающий контейнер ======================================================================================================================================================================================================================



// общие стилм
// @import "../common";
