<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no">
    <meta name="description">
    <meta name="keywords" content="">
    <title></title>
    <link rel="stylesheet" href="assets/css/main.css?v=undefined"><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="content">
      <div data-path="first" data-before="isBefore" data-animation="fadeInUp" data-speed="500">Открыть окно</div>
      <input data-path="calendar" data-animation="fadeInUp" data-speed="500" value="Выбрать дату">
    </div>
    <script src="assets/js/main.js?v=undefined"></script>
  </body>
</html>