- var class_name = 'modal-popup'
.content
	div(class="" data-path="first" data-before="isBefore" data-animation="fadeInUp" data-speed="500") Открыть окно
	input(class="" data-path="calendar" data-animation="fadeInUp" data-speed="500" value="Выбрать дату")


