div.item-video
    div(data-upload='<iframe  width="560" height="315" src="https://www.youtube.com/embed/BY9T0pXU1NM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>' data-path='first' data-animation='fadeInUp' data-speed='500') Забронировать

