//- placeholder-container
.placeholder-container
	input(class=`placeholder-container__input _necessarily` type=`text` name="nameUser" placeholder=` `)
	label.placeholder-container__text ваш телефон

//- btn
div(class=`btn`) Отправть запрос
