include 1-top-section
include 2_top-specification
include 3_types-partitions
include 4_slaid-window
include 5_advantages-slide
include 6_book
include 7_partitions
include ../guilletine/5_keys-one
include ../guilletine/6_keys-two
include ../guilletine/7_window-form
include ../guilletine/8_bottom-slider



