.container {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: 100%;
  max-width: 1310px;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // fallback
  // stylelint-disable-next-line
  min-height: var(--vh);
}


.title {
  font-family: 'StratosLCWeb';
  margin: 20px 0;
  text-align: center;
  @include adaptiveValue("font-size", 48, 24);
}

.description-text {
  @include adaptiveValue("line-height", 40, 20);
  @include adaptiveValue("font-size", 23, 18);
}

.page {
  // background-color: #EDEDED;
  padding: 20px;
  color: #000000;
  @import "content";
}
