<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no">
    <meta name="description" content="Описание сайта">
    <meta name="keywords" content="">
    <title>Название сайта</title>
    <link rel="stylesheet" href="assets/css/style.min.css?v=0.0.0.0&_v=20220609224042">
  </head>
  <body>
    <section class="slider-container">
      <div class="container">
        <div class="slider swiper-container">
          <div class="slider__wrapper swiper-wrapper">
                        <div class="slider__slide swiper-slide"><img src="https://images.pexels.com/photos/10370350/pexels-photo-10370350.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=1" alt="#"></div>
                        <div class="slider__slide swiper-slide"><img src="https://images.pexels.com/photos/10370350/pexels-photo-10370350.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=1" alt="#"></div>
                        <div class="slider__slide swiper-slide"><img src="https://images.pexels.com/photos/10370350/pexels-photo-10370350.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=1" alt="#"></div>
                        <div class="slider__slide swiper-slide"><img src="https://images.pexels.com/photos/10370350/pexels-photo-10370350.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=1" alt="#"></div>
                        <div class="slider__slide swiper-slide"><img src="https://images.pexels.com/photos/10370350/pexels-photo-10370350.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=1" alt="#"></div>
                        <div class="slider__slide swiper-slide"><img src="https://images.pexels.com/photos/10370350/pexels-photo-10370350.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=1" alt="#"></div>
          </div>
        </div>
      </div>
      <div class="slider-control">
        <div class="slider-control__inner">
          <div class="slider-control__arr-prev swiper-button-prev"></div>
          <div class="slider-control__arr-next swiper-button-next"></div>
        </div>
      </div>
    </section>
    <script src="assets/js/script.min.js?v=0.0.0.0&_v=20220609224042"></script>
  </body>
</html>