// section

.products {

	&__container {

	}

	&__list {
		display: grid;
		gap: 35px 50px;
		grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	}
}

// item

.item-products {

	transition: all 1s;
	cursor: pointer;
	&:hover {
		box-shadow: 0 0 18px 0 rgba(0, 1, 1, 0.19);
	}

	&__img {
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;

		img {
			object-fit: cover;
			transition: all 1s;
			max-width: 100%;
			max-height: 100%;
			&:hover {
				transform: scale(1.2);
			}
		}

	}

}


